<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vibz.vibz">

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Market filtering -->
    <uses-feature
        android:name="android.hardware.wifi.direct"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/vibz"
        android:label="@string/app_name"
        android:titleTextStyle="@color/blue_text"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MenuActivity"
            android:label="@string/app_name"
            android:titleTextStyle="@color/blue_text"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MusicService" />



        <activity
            android:name=".ChooseCategoryActivity"
            android:label="Vibz - Choose your song"
            android:titleTextStyle="@color/blue_text"
            />
        <activity
            android:name=".ListCategoryActivity"
            android:label="Vibz - Choose your song" />
        android:titleTextStyle="@color/blue_text"
        <activity
            android:name=".SearchActivity"
            android:titleTextStyle="@color/blue_text"
            android:label="@string/title_activity_search"></activity>
        <activity
            android:name=".WiFiDirectActivity"
            android:label="@string/app_name"
            android:titleTextStyle="@color/blue_text"
            android:launchMode="singleTask">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver android:name=".NotificationBroadcast" >
            <intent-filter>
                <action android:name="com.vibz.vibz.previous"/>
                <action android:name="com.vibz.vibz.delete" />
                <action android:name="com.vibz.vibz.pause" />
                <action android:name="com.vibz.vibz.next" />
                <action android:name="com.vibz.vibz.play" />
            </intent-filter>
        </receiver>
    </application>

</manifest>






